GOOGLE_CLIENT_ID="something"
GOOGLE_CLIENT_SECRET="something"

DATABASE_URL="postgresql://postgres:password@postgres:5432/lpg-planar?schema=public"
API_DOMAIN="http://localhost:3000"
FRONTEND_DOMAIN="http://localhost:6969"

JWT_ACCESS_SECRET="something_secret"
JWT_REFRESH_SECRET="something_secret"